@use "../../../../scss/abstract/" as *;

header {
  padding: 3rem 0;
  height: 11rem;

  nav {
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;

    ul {
      position: fixed;
      z-index: 9;
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: $colorSecondary;
      border-radius: 5rem;
      padding: 0.4rem;
      backdrop-filter: blur(10px);
      & li a {
        padding: 1.4rem 2.9rem;
        border-radius: 5rem;
        display: inline-block;
        color: $colorBlack;
        text-decoration: none;
        font-weight: 400;
        font-size: $small;
        line-height: 1.2rem;
        transition: all 0.05s ease;
        user-select: none;
        transition: all 0.5s ease;

        &.active {
          background-color: $colorWhite;
          font-weight: 500;
          pointer-events: none;
          transition: all 0.05s ease;
        }
        &:hover {
          background-color: $colorBlack;
          color: $colorWhite;
          transition: all 0.5s ease;
        }
      }
    }
  }
}
