<section class="greeting">
  <h1 class="greeting">Hi 👋🏻 I'm Ali</h1>
</section>
<section class="my-picture">
  <img
    src="https://images.pexels.com/photos/4974915/pexels-photo-4974915.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt=""
  />
  <img
    src="https://images.pexels.com/photos/5926388/pexels-photo-5926388.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt=""
    class="mobile"
  />
</section>
<section class="about">
  <h2 class="section-title">About</h2>
  <p>
    A freelance designer based in the UK. I combine my experience in product and
    brand to solve problems, tell stories, and create compelling experiences.
  </p>
</section>
<section class="experience">
  <h2 class="section-title">Experience</h2>
  <h3>Where I've worked</h3>
</section>
<app-experience-list />
<section class="clients">
  <h2 class="section-title">Clients</h2>
  <h3>Who I've worked with</h3>
</section>
<!-- Add partners here -->
<div class="contact">
  <h1>Let's work together.</h1>
  <a href="mailto:ali.hussein@live.com">Get in touch.</a>
</div>
