/* You can add global styles to this file, and also import other style files */
@use "./scss/" as *;

html {
  font-size: 10px;
}

body {
  font-family: "Neue Montreal", sans-serif;
  font-size: $text;
  max-width: 1400px;
  margin: 0 auto;


}
